# Build outputs and executables
build/*.nes
build/*.log
build/*.py
build/Games
build/PPUtest
#build/ i want to keep executables in github to share with a friend

# Third-party dependencies
SDL2/

# Emulator Save States and Battery Saves
*.state
*.sav

# Build & OS artifacts
*.o
*.obj
.DS_Store