# Build outputs and executables
build/*.nes
build/*.log
build/*.py
build/Games
build/PPUtest
build/saves
build/tests/
build/include/
build/SDL2.dll
#build/ i want to keep executables in github to share with a friend

# Legacy SDL downloads (unused on the Sokol branch)
SDL2/

# Emulator Save States and Battery Saves
*.state
*.sav
*.txt

# Build & OS artifacts
*.o
*.obj
.DS_Store

# Local project planning
/PLANNED_FEATURES.md
